<html>
<head>
    <title>{{ 'heidelpay.ideal.authorize_title' | trans }}</title>
</head>
<body>
    <form method="post" class="formular" action="{{ idealAuthorizeForm.actionUrl }}" id="paymentFrameForm">
        <label for="ideal_account_country">{{ 'heidelpay.ideal.label_bank_country' | trans }}:</label>
        <select name="ACCOUNT.COUNTRY" id="ideal_account_country" required>
        {% for country in idealAuthorizeForm.countries %}
            <option value="{{ country.code }}">{{ country.name | trans }}</option>
        {% endfor %}
        </select>
        <br/>
        <label for="ideal_account_bankname">{{ 'heidelpay.ideal.label_bank_name' | trans }}:</label>
        <select name="ACCOUNT.BANKNAME" id="ideal_account_bankname" required>
        {% for bank in idealAuthorizeForm.banks %}
            <option value="{{ bank.code }}">{{ bank.name }}</option>
        {% endfor %}
        </select>
        <br/>
        <label for="ideal_account_holder">{{ 'heidelpay.ideal.label_holder' | trans }}:</label>
        <input type="text" name="ACCOUNT.HOLDER" value="" id="ideal_account_holder" required />
        <br/>
        <button type="submit">{{ 'heidelpay.ideal.label_submit' | trans }}</button>
    </form>
</body>
</html>
