{% extends model('component') %}

{% define config = {
    name: 'direct-debit-existing-registration',
} %}

{% define data = {
    paymentOption: data.paymentOption,
    paymentMethod: data.paymentMethod,
} %}

{% block body %}
    {{ form_widget(data.paymentOption) }}
    {{ form_label(data.paymentOption) }}
    <div class="{{ config.name }}__option spacing-top">
        <small>
            {% set accountInfo = data.paymentMethod.paymentOptions.lastSuccessfulRegistration.accountInfo %}
            <strong>{{ 'payment.heidelpay.direct_debit' | trans }}:</strong><br />
            <div>{{ 'payment.heidelpay.direct_debit.holder' | trans }} - {{ accountInfo.accountHolder }}</div>
            <div>{{ 'payment.heidelpay.direct_debit.bank_name' | trans }} - {{ accountInfo.accountBankName }}</div>
            <div>{{ 'payment.heidelpay.direct_debit.iban' | trans }} - {{ accountInfo.accountIban }}</div>
            <div>{{ 'payment.heidelpay.direct_debit.bic' | trans }} - {{ accountInfo.accountBic }}</div>
        </small>
    </div>
{% endblock %}
