{% extends model('component') %}

{% define config = {
    name: 'existing-registration'
} %}

{% define data = {
    paymentOption: data.paymentOption,
    paymentMethod: data.paymentMethod,
} %}

{% block body %}
    {{ form_label(data.paymentOption) }}
    <div class="{{ config.name }}__option spacing-top">
        <small>
            {% set creditCardInfo = data.paymentMethod.paymentOptions.lastSuccessfulRegistration.creditCardInfo %}
            <strong>{{ 'payment.heidelpay.credit_card' | trans }}:</strong><br />
            <div>{{ 'payment.heidelpay.credit_card.holder' | trans }} - {{ creditCardInfo.accountHolder }}</div>
            <div>{{ 'payment.heidelpay.credit_card.type' | trans }} - {{ creditCardInfo.accountBrand }}</div>
            <div>{{ 'payment.heidelpay.credit_card.number' | trans }} - {{ creditCardInfo.accountNumber }}</div>
            <div>{{ 'payment.heidelpay.credit_card.validity' | trans }} - {{ creditCardInfo.accountExpiryMonth }} / {{ creditCardInfo.accountExpiryYear }}</div>
        </small>
    </div>
{% endblock %}
