{% if quoteTransfer.payment.paymentMethod == 'heidelpayCreditCardSecure' %}
    {% set paymentObject = quoteTransfer.payment.heidelpayCreditCardSecure %}
    {% set creditCardInfo = paymentObject.selectedRegistration.creditCardInfo %}
    <small>
        <strong>{{ 'payment.heidelpay.credit_card' | trans }}:</strong><br />
        <div>{{ 'payment.heidelpay.credit_card.holder' | trans }} - {{ creditCardInfo.accountHolder }}</div>
        <div>{{ 'payment.heidelpay.credit_card.type' | trans }} - {{ creditCardInfo.accountBrand }}</div>
        <div>{{ 'payment.heidelpay.credit_card.number' | trans }} - {{ creditCardInfo.accountNumber }}</div>
        <div>{{ 'payment.heidelpay.credit_card.validity' | trans }} - {{ creditCardInfo.accountExpiryMonth }} / {{ creditCardInfo.accountExpiryYear }}</div>
    </small>
{% endif %}
