{% extends model('template') %}

{% define data = {
    form: form,
    info_link: form.heidelpayEasyCredit.vars.info_link | default(''),
    logo_url: form.heidelpayEasyCredit.vars.logo_url | default(''),
} %}

{% block body %}
    <div class="payment-method">
        <img style="display:inline; margin-bottom: 10px; margin-top: 5px;" alt="easycredit Logo" src="{{ data.logo_url }}" id="rk_easycredit_logo">
        <a rel="nofollow" style="color:#000000;" class="easycredit-tooltip" onclick="javascript:window.open({{ data.info_link }},'whatiseasycredit','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, ,left=0, top=0, width=800, height=600'); return false;" href="{{ data.info_link }}">
            {{ 'payment.heidelpay.pay_with_easy_credit_info_link' | trans }}
        </a>
        {{ form_errors(data.form.heidelpayEasyCredit) }}
        {{ form_widget(data.form.heidelpayEasyCredit) }}
    </div>
{% endblock %}
